<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% block head %}
    {% endblock %}
</head>


 {% if  request.user.is_authenticated == False or user.user_type == 'subscribed_reader'  %}


<body class="hold-transition layout-top-nav">
<div class="wrapper">

  <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid justify-content-between">
    <!-- Left elements -->

    <ul class="navbar-nav d-flex">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'BookiernesApp:landing_page' %}">
          <span> Inici </span>
        </a>
      </li>
      <!-- Brand -->


    </ul>
    <!-- Left elements -->



    <!-- Right elements -->
    <ul class="navbar-nav flex-row">


      {% if request.user.is_authenticated %}

      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link d-sm-flex align-items-sm-center" href="{% url 'BookiernesApp:landing_page' %}">
          <strong class="d-none d-sm-block ms-1">{{user.username}}</strong>
        </a>
      </li>
      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link d-sm-flex align-items-sm-center" href="/des_logarse/">
          <strong class="d-none d-sm-block ms-1">Sortir</strong>
        </a>
      </li>
      {% else %}
      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link d-sm-flex align-items-sm-center" href="/accounts/login/">
          <strong class="d-none d-sm-block ms-1">Logarse / Registrar </strong>
        </a>
      </li>
      {% endif %}


    </ul>
    <!-- Right elements -->
  </div>
</nav>
    {% block content_read %}
    {% endblock %}

    <footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>


      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

    </section>
    <!-- Section: Social media -->

      <div class="row ">

        <!-- Grid column -->
        <div class="col-md-6">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Información legal
          </h6>
          <p>
            <a href="#!" class="text-reset">Condiciones de uso</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Política de protección de datos</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Política de cookies</a>
          </p>
        </div>
        <!-- Grid column -->


        <!-- Grid column -->
        <div class="col-md-6">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> C/ de Jaume II, 69, 25001 Lleida</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@bookiernes.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 973 70 27 00</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->

  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">Bookiernes.com</a>
  </div>
  <!-- Copyright -->
</footer>

    </div>
 {% else %}


<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>


        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">

            <!-- Messages Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-bell"></i>
                    {% if user.destination_user_notifications.count > 0 %}


                        <span class="badge badge-danger navbar-badge"> {{ user.destination_user_notifications.count }} </span>
                    {% endif %} <!-- numero de las notifaciones -->
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <!-- la notifacacio -->
                    {% if user.destination_user_notifications.count > 0 %}
                        {% for notification in user.destination_user_notifications.all %}
                            {% if user.user_type == 'main_editor' or user.user_type == 'editor' %}
                                <a href="{% url 'BookiernesApp:notification_editor' notification.id %}"
                                   class="dropdown-item"> <!-- link cap al missage -->
                            {% elif user.user_type == 'writer' %}
                                <a href="{% url 'BookiernesApp:notification' notification.id %}" class="dropdown-item">
                                <!-- link cap al missage -->

                            {% elif user.user_type == 'main_graphic_designer' or user.user_type == 'graphic_designer' %}
                                <a href="{% url 'BookiernesApp:notification_graphic_designer' notification.id %}" class="dropdown-item">

                            {% endif %}
                        <!-- Message Start -->
                        <div class="media">
                            <img src="{{ user.get_img }}" alt="User Avatar"
                                 class="img-size-50 mr-3 img-circle">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    {{ notification.get_user }}
                                    
                                    {% if notification.notification_type == 'presented' %}
                                        <span class="float-right text-sm text-danger"><i
                                                class="fas fa-book-medical"></i></span>
                                    {% elif notification.notification_type == 'modification' %}
                                        <span class="float-right text-sm text-danger"><i class="fas fa-book"></i></span>
                                    {% elif notification.notification_type == 'message' %}
                                        <span class="float-right text-sm text-danger"><i
                                                class="fas fa-envelope"></i></span>
                                    {% elif notification.notification_type == 'assigned' %}
                                        <span class="float-right text-sm text-danger"><i
                                                class="fas fa-envelope"></i></span>


                                    {% elif notification.notification_type == 'presented_book_designed' %}
                                        <span class="float-right text-sm text-danger"><i
                                                class="fas fa-address-book"></i></span>


                                    {% elif notification.notification_type == 'presented_img' %}
                                        <span class="float-right text-sm text-danger"><i
                                                class="fas fa-images"></i></span>
                                    {% endif %}
                                </h3>
                                <p class="text-sm">{{ notification.content }} </p>
                               
                                <p class="text-sm text-muted"><i
                                        class="far fa-calendar-alt mr-1"></i>{{ notification.date_received }}</p>
                            </div>
                        </div>
                        <!-- Message End -->
                        </a>


                        {% endfor %}
                    {% endif %}

            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    {{ user.first_name }}
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-lg">

                    <a href="#" class="dropdown-item">

                        <div class="media">
                            <img src="{{ user.get_img }} " alt="User Avatar"
                                 class="img-size-50 mr-3 img-circle">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    {{ user.first_name }} {{ user.last_name }}
                                </h3>
                                <p class="text-sm">{{ user.get_user_type_name }} </p>
                            </div>
                        </div>

                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown">

                        <div class="media ">
                            <i class="fas fa-user-edit mr-1"></i>
                            <div class="media-body ">
                                <h3 class="dropdown-item-title ">
                                    Modificar les dades d'usuari
                                </h3>
                            </div>
                        </div>

                    </a>

                    <a href="{% url 'BookiernesApp:logout' %}" class="dropdown-item">

                        <div class="media">
                            <i class="fas fa-sign-out-alt mr-1"></i>
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    Log Out
                                </h3>
                            </div>
                        </div>

                    </a>

                </div>
            </li>

        </ul>
    </nav>
    <!-- /.navbar -->


    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="#" class="brand-link">

            <img src="{% static 'BookiernesApp/img/logo_Bookiernes.png' %}" alt="Bookiernes Logo"
                 class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">Bookiernes</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->

                    {% if user.user_type == 'main_editor' %}
                        <li class="nav-item">
                            <a href="{% url 'BookiernesApp:maineditor_books_presented_editorial' %}" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Llibres presentats <br>

                                    a l'editoral</p>
                                {% if user.editor_profile.get_presented_books.count > 0 %}
                                    <span class="badge badge-info right">{{ user.editor_profile.get_presented_books.count }}</span>
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}
                    {% if user.user_type == 'main_editor' or user.user_type == 'editor' %}
                        <li class="nav-item">
                            <a href="{% url 'BookiernesApp:editor_book_revision' %}" class="nav-link">
                                <i class="nav-icon fas fa-table"></i>
                                <p>
                                    Llibres a revisar
                                    {% if user.editor_profile.get_books_to_revise.count > 0 %}
                                        <span class="badge badge-info right">{{ user.editor_profile.get_books_to_revise.count }}</span>
                                    {% endif %}
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'BookiernesApp:editor_books_to_design' %}" class="nav-link">
                                <i class="nav-icon fas fa-table"></i>
                                <p>
                                    Llibres a Maquetar
                                    {% if user.editor_profile.get_books_to_design.count > 0 %}
                                        <span class="badge badge-info right">{{ user.editor_profile.get_books_to_design.count }}</span>
                                    {% endif %}
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'BookiernesApp:editor_image_petitions' %}" class="nav-link">
                                <i class="nav-icon fas fa-table"></i>
                                <p>
                                    Sol·licituds d'Imatge
                                </p>
                            </a>
                        </li>
                    {% endif %}
                    {% if  user.user_type == 'writer' %}
                        <li class="nav-item">
                            <a href="{% url 'BookiernesApp:writer_publish_book' %}" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Presentar Llibre
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'BookiernesApp:writer_published_books' %}" class="nav-link">
                                <i class="nav-icon fas fa-table"></i>
                                <p>
                                    Libres Presentats
                                    {% if user.writer_profile.get_presented_books.count > 0 %}
                                        <span class="badge badge-info right">{{ user.writer_profile.get_presented_books.count }}</span>
                                    {% endif %}
                                </p>
                            </a>
                        </li>
                    {% endif %}


                    {% if  user.user_type == 'it' %}
                        <li class="nav-item">
                            <a href="{% url 'BookiernesApp:create_user' %}" class="nav-link">
                                <i class="nav-icon fas fa-user-plus"></i>
                                <p>
                                    Afegir Treballador
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'BookiernesApp:user_list' %}" class="nav-link">
                                <i class="nav-icon fas fa-users"></i>
                                <p>
                                    Llistat de Treballadors

                                         {% if obj_user_count > 0 and obj_user_count != None %}
                                        <span class="badge badge-info right">{{ obj_user_count }}</span>
                                    {% endif %}

                                </p>
                            </a>
                        </li>
                    {% endif %}

                     {% if  user.user_type == 'main_graphic_designer'   %}
                        <li class="nav-item">
                            <a href="{% url 'BookiernesApp:main_bockmaquetat_list' %}" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Llibre per assignar-hi una maquetació
                                     {% if assignment_img_count > 0 and assignment_img_count != None %}
                                        <span class="badge badge-info right">{{ assignment_img_count }}</span>
                                    {% endif %}
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'BookiernesApp:main_petitionview_list' %}" class="nav-link">
                                <i class="nav-icon fas fa-camera-retro"></i>
                                <p>
                                    Sol·lictuds d'imatges pendents de ser assignades

                                         {% if assignment_BockMaquetat_count > 0 and assignment_BockMaquetat_count != None %}
                                        <span class="badge badge-info right">{{ assignment_BockMaquetat_count }}</span>
                                    {% endif %}

                                </p>
                            </a>
                        </li>
                    {% endif %}

                     {% if  user.user_type == 'main_graphic_designer' or user.user_type == 'graphic_designer'  %}
                     <li class="nav-item">
                            <a href="{% url 'BookiernesApp:bockmaquetat_list' %}" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Llibres per maquetar
                                     {% if assignment_img_count > 0 and assignment_img_count != None %}
                                        <span class="badge badge-info right">{{ assignment_img_count }}</span>
                                    {% endif %}
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'BookiernesApp:petitionview_list' %}" class="nav-link">
                                <i class="nav-icon fas fa-camera-retro"></i>
                                <p>
                                    Sol·licituds d'Imatges

                                         {% if assignment_BockMaquetat_count > 0 and assignment_BockMaquetat_count != None %}
                                        <span class="badge badge-info right">{{ assignment_BockMaquetat_count }}</span>
                                    {% endif %}

                                </p>
                            </a>
                        </li>
                     {% endif %}

                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
    {% block content %}
    {% endblock %}
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <strong>Lorem Ipsum</strong>
        is simply dummy text of the printing and typesetting industry.
        <div class="float-right d-none d-sm-inline-block">
            <strong>Version</strong> 1.0
        </div>
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

 {% endif %}










<!-- jQuery -->
<script src="{% static 'BookiernesApp/js/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'BookiernesApp/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'BookiernesApp/js/adminlte.min.js' %}"></script>

<!-- libreria para caja de texto  -->

{% block script %}
{% endblock %}


</body>
</html>
