<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {% endblock %}
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>


        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">

            <!-- Messages Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-bell"></i>
                    {% if user.destination_user_notifications.count > 0 %}


                        <span class="badge badge-danger navbar-badge"> {{ user.destination_user_notifications.count }} </span>
                    {% endif %} <!-- numero de las notifaciones -->
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <!-- la notifacacio -->
                    {% if user.destination_user_notifications.count > 0 %}
                        {% for notification in user.destination_user_notifications.all %}
                            {% if user.user_type == 'main_editor' or user.user_type == 'editor' %}
                                <a href="{% url 'BookiernesApp:notification_editor' notification.id %}"
                                   class="dropdown-item"> <!-- link cap al missage -->
                            {% elif user.user_type == 'writer' %}
                                <a href="{% url 'BookiernesApp:notification' notification.id %}" class="dropdown-item">
                                <!-- link cap al missage -->
                            {% endif %}
                        <!-- Message Start -->
                        <div class="media">
                            <img src="../../../static/BookiernesApp/img/user1-128x128.jpg" alt="User Avatar"
                                 class="img-size-50 mr-3 img-circle">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    {{ notification.get_user }}
                                    
                                    {% if notification.notification_type == 'presented' %}
                                        <span class="float-right text-sm text-danger"><i
                                                class="fas fa-book-medical"></i></span>
                                    {% elif notification.notification_type == 'modification' %}
                                        <span class="float-right text-sm text-danger"><i class="fas fa-book"></i></span>
                                    {% elif notification.notification_type == 'message' %}
                                        <span class="float-right text-sm text-danger"><i
                                                class="fas fa-envelope"></i></span>
                                    {% elif notification.notification_type == 'assigned' %}
                                        <span class="float-right text-sm text-danger"><i
                                                class="fas fa-envelope"></i></span>
                                    {% endif %}
                                </h3>
                                <p class="text-sm">{{ notification.content }} </p>
                               
                                <p class="text-sm text-muted"><i
                                        class="far fa-calendar-alt mr-1"></i>{{ notification.date_received }}</p>
                            </div>
                        </div>
                        <!-- Message End -->
                        </a>


                        {% endfor %}
                    {% endif %}

            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    {{ user.first_name }}
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-lg">

                    <a href="#" class="dropdown-item">

                        <div class="media">
                            <img src="{{ user.get_img }} " alt="User Avatar"
                                 class="img-size-50 mr-3 img-circle">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    {{ user.first_name }} {{ user.last_name }}
                                </h3>
                                <p class="text-sm">{{ user.get_user_type_name }} </p>
                            </div>
                        </div>

                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown">

                        <div class="media ">
                            <i class="fas fa-user-edit mr-1"></i>
                            <div class="media-body ">
                                <h3 class="dropdown-item-title ">
                                    Modificar les dades d'usuari
                                </h3>
                            </div>
                        </div>

                    </a>

                    <a href="{% url 'BookiernesApp:logout' %}" class="dropdown-item">

                        <div class="media">
                            <i class="fas fa-sign-out-alt mr-1"></i>
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    Log Out
                                </h3>
                            </div>
                        </div>

                    </a>

                </div>
            </li>

        </ul>
    </nav>
    <!-- /.navbar -->


    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="#" class="brand-link">
            <img src="../../../static/BookiernesApp/img/logo_Bookiernes.png" alt="Bookiernes Logo"
                 class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">Bookiernes</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->

                    {% if user.user_type == 'main_editor' %}
                        <li class="nav-item">
                            <a href="{% url 'BookiernesApp:maineditor_books_presented_editorial' %}" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Llibres presentats <br>

                                    a l'editoral</p>
                                {% if user.editor_profile.get_presented_books.count > 0 %}
                                    <span class="badge badge-info right">{{ user.editor_profile.get_presented_books.count }}</span>
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}
                    {% if user.user_type == 'main_editor' or user.user_type == 'editor' %}
                        <li class="nav-item">
                            <a href="{% url 'BookiernesApp:editor_book_revision' %}" class="nav-link">
                                <i class="nav-icon fas fa-table"></i>
                                <p>
                                    Llibres a revisar
                                    {% if user.editor_profile.get_books_to_revise.count > 0 %}
                                        <span class="badge badge-info right">{{ user.editor_profile.get_books_to_revise.count }}</span>
                                    {% endif %}
                                </p>
                            </a>
                        </li>
                    {% endif %}
                    {% if  user.user_type == 'writer' %}
                        <li class="nav-item">
                            <a href="{% url 'BookiernesApp:writer_publish_book' %}" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Presentar Llibre
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'BookiernesApp:writer_published_books' %}" class="nav-link">
                                <i class="nav-icon fas fa-table"></i>
                                <p>
                                    Libres Presentats
                                    {% if user.writer_profile.get_presented_books.count > 0 %}
                                        <span class="badge badge-info right">{{ user.writer_profile.get_presented_books.count }}</span>
                                    {% endif %}
                                </p>
                            </a>
                        </li>
                    {% endif %}


                    {% if  user.user_type == 'it' %}
                        <li class="nav-item">
                            <a href="{% url 'BookiernesApp:create_user' %}" class="nav-link">
                                <i class="nav-icon fas fa-user-plus"></i>
                                <p>
                                    Añadir Trabajador
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'BookiernesApp:user_list' %}" class="nav-link">
                                <i class="nav-icon fas fa-users"></i>
                                <p>
                                    Listado de Trabajadores

                                         {% if obj_user_count > 0 and obj_user_count != None %}
                                        <span class="badge badge-info right">{{ obj_user_count }}</span>
                                    {% endif %}

                                </p>
                            </a>
                        </li>
                    {% endif %}

                     {% if  user.user_type == 'main_graphic_designer'   %}
                        <li class="nav-item">
                            <a href="{% url 'BookiernesApp:main_bockmaquetat_list' %}" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Libros para asignar una maquetacio
                                     {% if assignment_img_count > 0 and assignment_img_count != None %}
                                        <span class="badge badge-info right">{{ assignment_img_count }}</span>
                                    {% endif %}
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'BookiernesApp:main_petitionview_list' %}" class="nav-link">
                                <i class="nav-icon fas fa-camera-retro"></i>
                                <p>
                                    Solictudes de Imágenes para asignar

                                         {% if assignment_BockMaquetat_count > 0 and assignment_BockMaquetat_count != None %}
                                        <span class="badge badge-info right">{{ assignment_BockMaquetat_count }}</span>
                                    {% endif %}

                                </p>
                            </a>
                        </li>
                    {% endif %}

                     {% if  user.user_type == 'main_graphic_designer' or user.user_type == 'graphic_designer'  %}
                     <li class="nav-item">
                            <a href="{% url 'BookiernesApp:bockmaquetat_list' %}" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Libros para maquetar
                                     {% if assignment_img_count > 0 and assignment_img_count != None %}
                                        <span class="badge badge-info right">{{ assignment_img_count }}</span>
                                    {% endif %}
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'BookiernesApp:petitionview_list' %}" class="nav-link">
                                <i class="nav-icon fas fa-camera-retro"></i>
                                <p>
                                    Solictudes de Imágenes

                                         {% if assignment_BockMaquetat_count > 0 and assignment_BockMaquetat_count != None %}
                                        <span class="badge badge-info right">{{ assignment_BockMaquetat_count }}</span>
                                    {% endif %}

                                </p>
                            </a>
                        </li>
                     {% endif %}

                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
    {% block content %}
    {% endblock %}
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <strong>Lorem Ipsum</strong>
        is simply dummy text of the printing and typesetting industry.
        <div class="float-right d-none d-sm-inline-block">
            <strong>Version</strong> 1.0
        </div>
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->



<script>

    ClassicEditor
        .create(document.querySelector('#editor_asigna'), {
            toolbar: {items: ['bold', 'italic', '|', 'undo', 'redo', '|', 'numberedList', 'bulletedList']}
        })
        .catch(error => {
            console.error(error);
        });

    ClassicEditor
        .create(document.querySelector('#editor_recasar'), {
            toolbar: {items: ['bold', 'italic', '|', 'undo', 'redo', '|', 'numberedList', 'bulletedList']}
        })
        .catch(error => {
            console.error(error);
        });

    ClassicEditor
      .create( document.querySelector( '#editor' ) , {
          toolbar: { items: [ 'bold', 'italic', '|', 'undo', 'redo', '|', 'numberedList', 'bulletedList' ] }
        } )
      .catch( error => {
          console.error( error );
      } );

</script>



<!-- jQuery -->
<script src="../../../static/BookiernesApp/js/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../../static/BookiernesApp/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../../static/BookiernesApp/js/adminlte.min.js"></script>

<!-- libreria para caja de texto  -->

{% block script %}
{% endblock %}


</body>
</html>
